@import 'styles/variables.scss';

.announcement-attributes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;

  .announcement-type {
    display: flex;
    justify-content: center;
    padding: 4px;
    min-width: 60px;
    font-weight: bold;
    color: white;
    margin-right: 5px;
  }

  @each $key, $color in $announcementColors {
    .announcement-type-#{$key} {
      background-color: $color;
    }
  }

  .announcement-timestamp {
    margin-left: 5px;
    font-size: 0.9em;

    .announcement-timestamp-updated {
      margin-left: 5px;
    }
  }
}

.announcement-content {
  padding: 10px;
  background: #f5f5f5;
  margin-bottom: 10px;

  h1 {
    margin: 30px 10px 0 10px;
    border-left: 4px solid #333;
    padding-left: 10px;
    font-size: 1.5em;

    &:first-child {
      margin-top: 10px;
    }
  }

  ul {
    margin: 10px 0;
    padding-left: 30px;
    padding-right: 10px;

    li {
      margin-top: 4px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  p {
    margin: 0;
  }
}
