.terms-wrapper {
  margin: 20px 30px 30px 30px;
  font-size: 0.95rem;
}

ol.terms-list {
  li {
    padding-left: 10px;
    margin-top: 10px;
  }
}

.terms-end-wrapper {
  margin: 20px 30px 30px 30px;
  display: flex;
  justify-content: flex-end;
}
