.announcements {
  margin: 10px 0;
}

.editor {
  border: 1px solid gray;
  padding: 6px;
  background: white;
  border-radius: 2px;
  outline: none;
  height: 120px;
  overflow-y: auto;
}

.announcements-link {
  display: block;
  color: gray;
  font-weight: bold;
  text-align: right;
}
