@import 'styles/variables.scss';

.page {
  padding-top: $headerHeight;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .links {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .link {
      display: flex;
      justify-content: center;
      margin: 0 10px;
      min-width: 120px;
      padding: 5px 10px;
      font-size: 1.1em;
      border: 1px solid rgb(194, 194, 194);
      background: white;
      color: #222;
      transition: all 0.2s;

      &:hover {
        color: white;
        background: #222;
        border: 1px solid #222;
      }
    }
  }
}
