@import 'styles/variables.scss';
@import 'styles/room-message/variables.scss';

.#{$prefix}__message {
  border-bottom: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 6px 5px;

  &:last-child {
    border-bottom: none;
  }

  &.#{$prefix}__preview {
    opacity: 0.5;
  }
}

.#{$prefix}__message-main {
  display: flex;
}

.#{$prefix}__message-aside {
  color: #707070;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
}

.#{$prefix}__message-aside-room {
  color: #707070;
}

.#{$prefix}__message-aside-date {
  margin: 0 5px;
}

.#{$prefix}__message-icon-wrapper {
  margin: 0 8px 0 0;
}

.#{$prefix}__message-content-wrapper {
  flex: 1;
}

.#{$prefix}__message-sender {
  font-size: 1.05em;

  .#{$prefix}__message-sender-name {
    color: #333;
    font-weight: bold;
  }

  .#{$prefix}__message-sender-id {
    margin: 4px;
    font-size: 0.85em;
    color: rgb(172, 172, 172);
  }
}

.#{$prefix}__message-recipients {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  color: #999999;
  text-decoration: none;
  margin-top: -1px;
}

.#{$prefix}__message-recipients-icon {
  height: 1em;
  width: 1em;
  margin-right: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$prefix}__message-recipient {
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.#{$prefix}__message-content {
  color: #444;
  font-family: $contentFonts;
  line-height: 1.4;
  padding: 2px 4px;
}

.#{$prefix}__message-aside-comments {
  display: flex;
  align-items: baseline;
  user-select: none;
  cursor: pointer;
  margin-left: 4px;
}

.#{$prefix}__message-aside-date {
  color: #444;
}

.#{$prefix}__message-aside-comments-icon {
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  padding-right: 1px;
  position: relative;
  top: 3px;
}

.#{$prefix}__message-aside-comments-count {
}
