$tableMargin: 2px;

.mail {
  margin-bottom: $tableMargin;
}

.mails {
  margin: 10px 0;
}

.mail-overviews {
  display: flex;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 8px 4px 8px 12px;
  justify-content: space-between;
  background: #eee;
  color: #333;
  font-weight: normal;
  transition: all 0.2s;

  &.unread {
    background: #333;
    color: #ddd;
    font-weight: bold;
  }

  .open-icon-area {
    transition: all 0.2s;
    position: absolute;
    transform: rotate(90deg);

    .open-icon {
      width: 20px;
      height: 20px;
    }
  }

  .mail-title {
    margin-left: 30px;

    &.no-title {
      color: #888;
    }
  }

  .mail-date {
    font-weight: normal;
    margin-right: 6px;
  }
}

.mail[open] > .mail-overviews > .open-icon-area {
  transform: rotate(180deg);
}

.mail-info {
  display: flex;
  align-items: center;
  margin: $tableMargin 0;
}

.mail-info-heading {
  text-align: center;
  padding: 2px 10px;
  min-width: 60px;
  background: #333;
  color: #ddd;
  font-weight: bold;
  margin-right: $tableMargin;
  flex: none;
}

.mail-info-body {
  display: flex;
  padding: 2px 10px;
  flex: 1;
  align-items: center;
  background: #eee;
}

.mail-message {
  padding: 8px 8px;
  background: #eee;
  margin-bottom: 10px;
}

.mail-target-id {
  margin-left: 4px;
}
