.noimages-message {
  margin: 15px 10px;
}

.images-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-gap: 6px;
  }
}

.image-list-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 80px;
  user-select: none;
  cursor: pointer;
  background: #00000008;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 90px;
  margin: 0 10px;
  flex: none;
}

.image {
  max-height: 60px;
  max-width: 90px;
}

.image-open {
  width: 24px;
  height: 24px;
  color: #444;
}

.uploaded-at {
  flex: 1 1;
}

.uploaded-at-label {
  font-size: 0.8rem;
  color: #666;
}

.checkbox-wrapper {
  margin: 20px;
  flex: none;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
