div.DraftEditor-root {
  border: 1px solid gray;
  border-radius: 2px;
  background: white;
  width: 100%;
  resize: none;
  height: 100%;
  overflow-y: auto;
  outline: none;
  padding: 6px;
  word-break: break-all;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
