$headerHeight: 50px;

$iconWidth: 60px;
$iconHeight: 60px;

$listIconWidth: 90px;
$listIconHeight: 120px;

$profileImageHeight: 700px;

$pcColumnWidth: 1000px;

$accentColor: #3079cc;
$closeColor: #ff2b2b;

$fonts: 'BIZ UDPGothic', 'BIZ UDPGothic Web', sans-serif;
$contentFonts: 'Noto Sans JP', 'Noto Sans JP Web', sans-serif;

$announcementColors: (
  update: #3079cc,
  important: #ff1953,
  announce: #ff723a,
);
