.room-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin: 8px 0;
}

.room {
  background: #eee;

  .room-heading {
    display: block;
    background: #444;
    box-shadow: 0 0 4px #0004;
    width: fit-content;
    max-width: 80%;
    padding: 2px 8px;
    margin: -2px;

    .room-title {
      font-weight: bold;
      font-size: 1.1em;
      color: #ddd;
    }

    .room-id {
      margin-left: 4px;
      font-size: smaller;
      color: #aaa;
    }
  }

  .room-tags {
    margin: 4px 8px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .room-tag {
      font-weight: bold;
      font-size: smaller;
      margin: 0 2px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .room-summary {
    margin: 4px 8px;
  }

  .room-footer {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin: 0 -2px;
    background: #444;

    .room-details {
      display: flex;
      align-items: center;
      margin-left: 4px;

      .room-detail {
        display: flex;
        align-items: baseline;
        margin: 0 4px;

        &:first-child {
          margin-left: 0;
        }

        .room-detail-icon-wrapper {
          width: 14px;
          height: 14px;
          color: #ddd;
        }

        .room-detail-value {
          line-height: 14px;
          margin-left: 2px;
          font-size: 0.9em;
          color: #ccc;
          font-weight: bold;
        }
      }
    }

    .room-master {
      position: relative;
      display: flex;
      align-items: flex-end;

      .room-master-names {
        display: flex;
        align-items: flex-end;
        color: #ccc;

        .room-master-name {
          font-weight: bold;
        }

        .room-master-id {
          margin: 0 4px 0 2px;
          font-size: 0.8em;
        }
      }
    }
  }
}
